body{
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
}
.searchbar{
    width: 30%;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

