body{
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
}

h2{
    margin-left: 10px;
}

.searchbar{
    width: 280px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar-container{
    display: inline;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    max-width: 330px;
    min-width: 300px;
}

.search-button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    height: 35px;
    width: 50px;
    margin-right: 90px;
    font-weight: 400;
}

.articles-container{
    margin-top: 20px;
    margin-left: 10px;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
}

.available-countries{
    display: inline;
    text-align: end;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 20px;
}

.countries{
    padding-left: 10px;
    margin-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.countries-text{
    display: inline;
    font-size: 15px;
    font-weight: 500;
    vertical-align: middle;
}

form{
    display: inline-block;
    width: 310px;
}
