.title{
    display: inline;
}

h3{
    margin-bottom: 5px;
    margin-top: 0px;
}

h4{
    margin-bottom: 5px;
    margin-top: 0px;
}

.today-date{
    display: inline;
    margin-left: 100px;
}

.date{
    display: inline;
}

.container-headlines{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 8px;
}

.authors{
    margin-top: 30px;
    margin-bottom: 3px;
    font-family: Roboto;
    font-weight: 300;
}

.writer{
    margin-top: 5px;
    margin-bottom: 3px;
    font-family: Roboto;
    font-weight: 300;
}

.links{
    font-family: Roboto;
    font-weight: 500;
}
.space{
    margin-top: 30px;
}

