<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <title>YourO News</title>

        <link rel="stylesheet" href="/static/styles.css">
        <link rel="stylesheet" href="/static/texts.css">
        <link rel="stylesheet" href="/static/header.css">
        <link rel="stylesheet" href="/static/buttons.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    </head>

    <body>
    <div class ="header">
      <a href="/">
        <h2 class="title">YourO News.</h2>
      </a>
        <div class="today-date">
            <h4 class="date">{{ date }}</h4>
        </div>

            <div class="categories-bar">
                <div class="categories-container">
                <button type="button" class="categories-button" onClick="location.href='/health'" >Health</button>
                <button type="button" class="categories-button" onClick="location.href='/technology'" >Technology</button>
                <button type="button" class="categories-button" onClick="location.href='/business'">Business</button>
                <button type="button" class="categories-button" onClick="location.href='/science'" >Science</button>
                <button type="button" class="categories-button" onClick="location.href='/entertainment'" >Entertainment</button>
                <button type="button" class="categories-button" onClick="location.href='/sports'" >Sports</button>
                <button type="button" class="categories-button" onClick="location.href='/general'" >General</button>
                </div>
            </div>
        <form method="GET">
        <div class="available-countries">
            <select class="countries" name="country">
                {% include 'jinja2/countries.d' %}
            </select>
        </form>
    </div>

<div class="search-section">
    <div class="searchbar-container">
        <form action="/search" method="GET">
            <input type="text" name="search" class="searchbar" placeholder="Search for anything...">
            </div>
        <button type="submit" class="search-button">
          <img src="/static/icons/search.svg" class="search-icon">
        </button>
    </form>
</div>
</div>

    <h4 class="container-headlines"></h4>
        <div class="news-container-common">
            <div class="categories-n">
                {% include 'jinja2/all_articles.d' %}
            </div>
</html>
