<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <title>YourO News</title>

        <link rel="stylesheet" href="/static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    </head>

    <body>
        <h2>Read what matters.</h2>
    <div class="header">
        <div class="searchbar-container">
            <form action="/search" method="GET">
                <input type="text" name="search" class="searchbar" placeholder="Search...">
        </div>
        <button type="submit" class="search-button">Go</button>

    </form>
    <div class="categories-container">
    <button type="button" class="categories" onClick="location.href='/health'" >Health</button>
    <button type="button" class="categories" onClick="location.href='/technology'" >Technology</button>
    <button type="button" class="categories" onClick="location.href='/business'">Business</button>
    <button type="button" class="categories" onClick="location.href='/science'" >Science</button>
    <button type="button" class="categories" onClick="location.href='/entertainment'" >Entertainment</button>
    <button type="button" class="categories" onClick="location.href='/sports'" >Sports</button>
    <button type="button" class="categories" onClick="location.href='/general'" >General</button>
    </div>
</div>

<div class="news-container">
    {% include 'jinja2/session.d' %}
    <h4>What's happening</h4>
        <div class="home-articles-container">
            {% include 'jinja2/home.d' %}
        </div>
</div>

    </body>
</html>
