<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <title>Top Business News</title>

        <link rel="stylesheet" href="/app/static/styles.css">
        <link rel="stylesheet" href="/static/styles.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    </head>

    <body>
        <h2>Read what matters.</h2>
        <div class="searchbar-container">
            <form action="/search" method="GET">
                <input type="text" class="searchbar" name="search" id="search" placeholder="Search...">
            </form>
            <div class="articles-container">
                {% if articles %}
                    {% for article in articles %}
                        <div class="article">
                            <div class="article-content">
                                <h3>{{ article.title }}</h3>
                                {% if article.description %}
                                    <p>{{ article.description }}</p>
                                {% endif %}
                                {% if article.source %}
                                    <p>{{ article.source }}</p>
                                {% endif %}
                                <a href="{{ article.url }}" target="_blank">{{ article.url }}</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Start by searching for topics!</p>
                {% endif %}
            </div>    
    </body>
</html>
